.homes__cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
    margin-bottom: 120px;
}
.homes__card-pic{
    margin-bottom: 24px;
}
.homes__card-name{
    color: #3077C6;
    margin-bottom: 24px;
}
.homes__card-location{
    margin-bottom: 24px;
    color: #BFBFBF;
}